body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
}

h1, h2, h3, p {
    color: #3C3C40;
}

.form-control {
    border-radius: 50px;
    border: 1px solid #B4B4BF;
}

.logo-image {
    width: 500px; 
    margin-bottom: 0px;
}
.logo-description {
    margin-top: 0px; 
    margin-bottom: 10px;
}

body.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.btn-primary {
    background-color: #3C3C40 !important;
    border-color: #3C3C40 !important;
    color: #ffffff !important;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #0D0D0D !important;
    border-color: #0D0D0D !important;
}

.btn-secondary {
    background-color: #3C3C40;
    border-color: #3C3C40;
    color: #ffffff;
    border-radius: 50px;
}

.btn-secondary:hover {
    background-color: #0D0D0D;
    border-color: #0D0D0D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.list-group-item {
    border: 1px solid #B4B4BF;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.list-group-item h2 {
    color: #3C3C40;
}

.list-group-item p {
    margin-bottom: 10px;
}

.book-details {
    display: none;
    padding: 15px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-details .description p {
    margin-bottom: 15px;
}

.book-details img {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-cover {
    max-width: 120px;
    margin-right: 20px;
}

.book-details .additional-details {
    margin-top: 20px;
}

.book-details .additional-details h5 {
    margin-bottom: 10px;
}

.book-details .additional-details ul {
    list-style-type: none;
    padding-left: 0;
}

.book-details .additional-details ul li {
    margin-bottom: 8px;
}

.btn-info {
    background-color: #3C3C40;
    color: white;
    border-radius: 20px;
}

.btn-info:hover {
    background-color: #555;
}

.list-group-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}
