body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

h1, h2, h3, p {
    color: #3C3C40;
}

.logo-description {
    margin-top: 0px; 
    margin-bottom: 10px;
}

.form-control {
    border-radius: 50px;
    border: 1px solid #B4B4BF;
}

.btn-primary {
    background-color: #3C3C40 !important;
    border-color: #3C3C40 !important;
    color: #ffffff !important;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #0D0D0D !important;
    border-color: #0D0D0D !important;
}

.logo-image {
    width: 500px; 
    margin-bottom: 0px;
}
