{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <h1 class="mt-5">Welcome to Bookmark!</h1>
        <p class="mt-3">Your go-to app for finding and exploring books. Discover new titles, read descriptions, and find your next favorite book!</p>
        <form class="mt-3" action="/search" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Type book title...">
            </div>
            <button type="submit" class="btn btn-primary mt-3">
                <i class="bi bi-search"></i> <span class="ms-2">Search</span>
            </button>
        </form>
    </div>
{% endblock %}
